<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    <h1>Edit Recipe</h1>
    <a href="/logout"><button>Logout</button></a>
    <a href="/dashboard"><button>Back to Recipes</button></a>
    
    <form action="/recipes/{{ recipe.id }}/update" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ recipe.name }}" required>
        {% for message in get_flashed_messages(category_filter=['err_recipes_name']) %}
        <p class="err-msg">{{ message }}</p>
        {% endfor %}<br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ recipe.description }}</textarea>
        {% for message in get_flashed_messages(category_filter=['err_recipes_description']) %}
        <p class="err-msg">{{ message }}</p>
        {% endfor %}<br>

        <label for="instructions">Instructions:</label>
        <textarea id="instructions" name="instructions" required>{{ recipe.instructions }}</textarea>
        {% for message in get_flashed_messages(category_filter=['err_recipes_instructions']) %}
        <p class="err-msg">{{ message }}</p>
        {% endfor %}<br>

        <label for="date_cooked">Date Cooked:</label>
        <input type="date" id="date_cooked" name="date_cooked" value="{{ recipe.date_cooked }}" required>
        {% for message in get_flashed_messages(category_filter=['err_recipes_date_cooked']) %}
        <p class="err-msg">{{ message }}</p>
        {% endfor %}<br>

        <label for="under_thirty">Under Thirty Minutes:</label>
        <select id="under_thirty" name="under_thirty" required>
            <option value="1" {% if recipe.under_thirty == 1 %}selected{% endif %}>Yes</option>
            <option value="0" {% if recipe.under_thirty == 0 %}selected{% endif %}>No</option>
        </select>
        {% for message in get_flashed_messages(category_filter=['err_recipes_under_thirty']) %}
        <p class="err-msg">{{ message }}</p>
        {% endfor %}<br><br>

        <!-- {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if category == 'error' %}
                <p class="err-msg">{{ message }}</p>
            {% endif %}
        {% endfor %} -->

        <button type="submit">Submit</button>
    </form>

</body>
</html>